.header {
    margin-top: 60px;
    margin-bottom: 150px;
    padding: 0 30px 0 30px;
}

.container__img {
    width: 80px;
    height: 100%;
    margin-bottom: 20px;
}
.header__container-text {
    display: flex;
    flex-direction: column;
}
.text__container {
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.text__name {
    font-size: 40px;
}
.descrip-text {
    margin-top: 50px;
    font-size: var(--normal-font-size);
    max-width: 350px;
    min-width: 350px;
}
.contacto {
    background-color: black;
    width: 200px;
    padding: 25px;
    border-radius: 20px;
    margin-top: 60px;
}
.button--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.button--flex:hover {
    color: var(--container-color);
}
.button__icon {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 585px) {
        .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        margin-left: 100px;
       }
       .header__container-img {
        height: 100%;
       }
       .text__name {
        font-size: 40px;
        margin-left: -210px;
        }
        .header__container-img {
            height: 100%;
            margin-left: -200px;
        }
        .descrip-text {
            margin-top: 50px;
            font-size: var(--normal-font-size);
            max-width: 500px;
            min-width: 500px;
        }
        .contacto {
            background-color: black;
            padding: 25px;
            border-radius: 20px;
            margin-left: -300px;
            margin-top: 60px;
        }
        .button--flex {
            color: white;
            font-size: 20px;
        }
        .button--flex:hover {
            color: var(--container-color);
        }
        .button__icon {
            margin-left: 5px;
            width: 40px;
            height: 40px;
        }
}
@media screen and (min-width: 768px) {
   .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;
   }
   .header__container-img {
    height: 100%;
   }
   .text__name {
    font-size: 45px;
    margin-left: -310px;
    }
    .header__container-img {
        height: 100%;
        margin-left: -310px;
    }
    .descrip-text {
        margin-top: 50px;
        font-size: var(--about-font-size);
        max-width: 650px;
        min-width: 650px;
    }
    .contacto {
        background-color: black;
        padding: 25px;
        border-radius: 20px;
        margin-left: -450px;
        margin-top: 80px;
    }
    .button--flex {
        color: white;
        font-size: 20px;
    }
    .button--flex:hover {
        color: var(--container-color);
    }
    .button__icon {
        margin-left: 5px;
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 1024px) {
    .text__name {
        margin-left: -450px;
    }
    .header__container-img {
        margin-left: -450px;
    }
    .descrip-text {
        font-size: var(--big-font-size);
        max-width: 900px;
        min-width: 900px;
    }
   .contacto {
        background-color: black;
        border-radius: 25px;
        margin-left: -700px;
    }
    .button--flex:hover {
        color: var(--container-color);
    }
 }