.nav {
    padding-top: 20px;
    color: var(--title-color);
}
.nav__toggle {
    margin-left: 20px;
}
.nav__container {
    display: flex;
    align-items: center;
}
.nav__menu {
    position: fixed;
    right: -100%;
    transition: .3s;
}
.show-menu {
    right: 40px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

a {
    color: var(--title-color);
    text-decoration: none;
}

a:hover {
    color: var(--title-color-dark);
}

@media screen and (min-width: 768px) {
    .nav {
        padding-top: 50px;
        margin-bottom: 150px;
    }
    .nav__toggle {
        display: none;
    }
    .nav__menu {
        display: flex;
        transition: 0s;
        right: 0%;
    }
    .nav__list {
        display: flex;
        justify-content: center;
        width: 100vw;
        font-size: var(--small-font-size);
        background-color: white;
        gap: 1.5rem;
    }
}




